@use "../../master";

.main-content {
  $defaultPadding: master.$defaultPadding;

  padding: $defaultPadding;
  background-color: #dc4c46;
  height: 100px;
  z-index: 1;
  position: relative;

  h1 {
    margin: 0;
  }
}
